name: "Release"

on:
  release:
    types:
      - "published"

permissions: {}

jobs:
  release:
    name: "Release"
    runs-on: "ubuntu-latest"
    permissions:
      contents: write
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v6.0.1"

      - name: "ZIP the integration directory"
        shell: "bash"
        run: |
          cd "${{ github.workspace }}/custom_components/creality_box_control"
          zip -r creality_box_control.zip . -x "*.pyc" -x "__pycache__/*"

      - name: "Upload the ZIP file to the release"
        uses: "softprops/action-gh-release@v2.5.0"
        with:
          files: ${{ github.workspace }}/custom_components/creality_box_control/creality_box_control.zip
